<p id="notice"><%= notice %></p>

<h1><%= @project.name %></h1>

<p>
  <%= @project.description %>
</p>

<p><%= link_to 'New event', new_event_path, :class => 'btn' %></p>
<%= render :partial => "event", :collection => @events %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
